.git
.cache
.local
bin
.env
.env.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.cer
**/*.crt
**/.secrets
**/secrets
**/.credentials
**/.aws
**/.azure
**/.gcloud
**/.config/gcloud
**/*-credentials.json
**/*-service-account.json
**/application_default_credentials.json
**/*.dump
**/*.backup
**/*.log
**/*.sql.gz
web/node_modules
web/dist
**/*.tfstate*
**/*.tfvars
**/.terraform
