.git/
.cache/
.local/
bin/
.env
.env.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.cer
**/*.crt
**/secrets/
**/.secrets/
**/.credentials/
**/.aws/
**/.azure/
**/.gcloud/
**/.config/gcloud/
**/application_default_credentials.json
**/*-credentials.json
**/*-service-account.json
**/*.tfstate*
**/*.tfvars
**/*.dump
**/*.backup
**/*.sql.gz
**/*.log
web/node_modules/
web/dist/
